{% extends 'base.html' %}
{% load static %}

{% block main %}

    <div id="main_contents">

        {% if user_name == "N.O" %}
            <h1 class="main_contents_title">Admin User! Welcome!</h1>
        {% elif user_name %}
            <h1 class="main_contents_title">{{ user_name }}! Welcome!</h1>
        {% else %}
            <h1 class="main_contents_title">Anonymous! Welcome!</h1>
        {% endif %}

        <img class="main_contents_elem_img" src="{% static 'mydog.jpg' %}" alt="my_dog_picture">

    </div>

{% endblock main %}
