{% extends 'base.html' %}

{% block main %}

<div class="w-50 mx-auto">

    <h2 >Post Form</h2>
    <h3>New Post!</h3>

    <form method="post">

        {% csrf_token %}

        {% include 'includes/form.html' %}
        <input type="submit" value="submit" class="btn btn-primary">

        
        {% if view_type == "create" %}
            <a class="btn btn-secondary" href="{% url 'webapp:blog:index' %}" role="button">Back Post List</a>
        {% elif view_type == "update" %}
            <a class="btn btn-secondary" href="{% url 'webapp:blog:detail' object.id %}" role="button">Back Post Detail</a>
        {% endif %}

    </form>

</div>

{% endblock main %}