{% extends 'base.html' %}
{% load humanize %}

{% block main %}

    <div id="main_contents">

        <h2>★Achievement</h2>
        <p>We have created {{ num_services|intcomma }} service so far ({% now 'Y-m-d H:i:s' %})</p>

        <h2>Our Skills</h2>
        <div>
            <ul>
                {% for skill in skills %}
                    <li>{{ skill }}</li>
                {% empty %}
                    <li>We have not skill</li>
                {% endfor %}
            </ul>
        </div>

        <h2>My favorite songs</h2>

        <div
        class="col-md-6 col-sm-6 col-xs-12 right-section right-background pt-3"
        >
            <div class="subfeature">
                <div class="featureblock">
                    <div class="col-md-2 col-xs-2 icon">
                    <i class="fa fa-laptop feature_icon"></i>
                    </div>
                    <div class="col-md-10 col-xs-10">
                    <div>
                        <iframe
                        src="https://www.youtube.com/embed/QOcS0LCWRK4"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        ></iframe>
                    </div>
                    <h4>イエスタデイ/春茶</h4>
                    </div>
                </div>
                <div class="featureblock">
                    <div class="col-md-2 col-xs-2 icon">
                    <i class="fa fa-bullhorn feature_icon"></i>
                    </div>
                    <div class="col-md-10 col-xs-10">
                    <div>
                        <iframe
                        src="https://www.youtube.com/embed/3lGFMgkQG3w"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        ></iframe>
                    </div>
                    <h4>Lap Tap Love/春茶</h4>
                    </div>
                </div>
                <div class="featureblock nomargin">
                    <div class="col-md-2 col-xs-2 icon">
                    <i class="fa fa-support feature_icon"></i>
                    </div>
                    <div class="col-md-10 col-xs-10">
                    <div>
                        <iframe
                        src="https://www.youtube.com/embed/d6cwPjIKzvU"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        ></iframe>
                    </div>
                    <h4>車輪の唄/春茶</h4>
                    </div>
                </div>
            </div>
        </div>




    </div>

{% endblock main %}