{% extends 'base.html' %}
{% load humanize %}

{% block main %}

    <div id="main_contents">

        <h2>Achievement</h2>
        <p>We have created {{ num_services|intcomma }} service so far ({% now 'Y-m-d H:i:s' %})</p>

        <h2>Our Skills</h2>
        <div>
            <ul>
                {% for skill in skills %}
                    <li>{{ skill }}</li>
                {% empty %}
                    <li>We have not skill</li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock main %}